################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoWallet/.vs/CryptoWallet/v15
/CryptoWallet/packages
