################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoWallet/.vs/CryptoWallet/v15
/CryptoWallet/packages
/CryptoWallet/Wallet.Core/bin/Debug
/CryptoWallet/Wallet.Presentation/bin/Debug
/CryptoWallet/Wallet.Core/obj/Debug
/CryptoWallet/Wallet.Presentation/obj/Debug
